@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-black1: rgb(7, 7, 7);
    --color-black2: rgb(36, 36, 36);
    --color-gray1: rgb(61, 61, 61);
    --color-gray2: rgb(208, 208, 208);
    --color-borderblack: rgb(20, 20, 20);
    --color-warmwhite: rgb(232, 232, 232);

    --color-darkblack: #03071E;
    --color-darkred: #780000;
    --color-red: #C1121F;
    --color-warmwhite2: #FDF0D5;
    --color-darkblue: #003049;
    --color-blue: #669BBC;
    --color-orange: #E85D04;

}

:root {
    height: fit-content;
    background-color: var(--color-black1);
    color: var(--color-warmwhite);
}